*.swp
*.bmp
*.jpg
*.gif
*.webm
*.webp
*.png
*.stl
*.o
frame.bin
lastframe
driver
matrixtest
cubetest
recttest
polytest
textest
texcubetest
screentest
stltest
solidstltest
libwiringx.a
wiringx.h
__pycache__/
